.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.profile-sidebar {
  width: 20%;
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
}

.profile-sidebar-elem {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.profile-sidebar-elem-active {
  border-bottom: 2px solid black;
  cursor: pointer;
  background-color: #bbb;
  transition: background-color 0.2s;
}

.profile-main {
  width: 80%;
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
